
body{
  background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
  color: #fff;
  font-size: 18px;
}

.dropdown{
  margin-top: 5px;
  color: black;
}

.btn-custom{
  margin-top: 10px;
}
